<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Grande Molécula Genealógica Miuzelense</title>
    <link rel="stylesheet" type="text/css" href="{% static 'genealogica/main.css' %}">
  </head>
  <body>

  
  <div class="search-node">
      <input type="text" id="search-node" placeholder="Pesquisa">
  </div>

  <div class="reshufle">
    <!-- <button id='reshufle'>Actualizar</button> -->
    <button onClick="window.location.reload(true)" id='reshufle'>Actualizar</button>
  </div>


  <script src="static/genealogica/d3_v5.11.0.js"></script>
  <script src="static/genealogica/molecula.js"></script>

  </body>
</html>